[Unit]
Description=Timer for Rsync Backup %i

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
# Execute missed runs after system startup if system was down during scheduled time
Persistent=true

[Install]
WantedBy=timers.target
